
/* 
    Created on : 29 juil. 2017, 14:38:19
    Author     : Albertal Jean-Pierre 
*/
html {
    box-sizing: border-box;
}
*:before,  *:after {
    box-sizing: inherit;
}

.calculatrice {
    background-color: #DDD;
}
   
.result {
    text-align: right;
    padding-right: 5px;
}
.btn {
    text-align: center;
    background-color: lightblue;
    color: #000;
    min-width: 40px;
    min-height: 40px;
    border: 1px transparent;
    font-size: 1.3em;
}
.btn:hover {
    background-color: lightskyblue;
    border: 1px lightgreen outset;
}
.btn:active {
    border: 1px lightgreen inset;
}
.command {
    font-size: 1em;
}


.calcul {
    font-size: x-small;
    text-align: right;
}
.note {
    border: 3px crimson dashed;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}
.note .souligne {
    border-bottom: 1px solid #000;
}



